NANIT_EMAIL=your@email.com
NANIT_PASSWORD=your_password
NANIT_RTMP_ADDR=192.168.1.100:1935
NANIT_RTMP_PORT=1935
NANIT_HTTP_PORT=8080
NANIT_SENSOR_POLL_SEC=30
NANIT_MQTT_BROKER_URL=tcp://192.168.1.10:1883
NANIT_MQTT_USERNAME=
NANIT_MQTT_PASSWORD=
NANIT_MQTT_PREFIX=nanit
NANIT_LOG_LEVEL=info
# NANIT_DASHBOARD_AUTH_FILE=/data/dashboard_password.hash
